.card{
    background: rgba(253, 253, 253, 0.027);
    width: 300px;
    border-radius: 30px;
    border-width: 2px;
    border-style: solid;
    border-color: rgba(161, 233, 255, 0.103);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(black, rgb(5, 35, 90));
    font-weight: 700;
}

.judul{
    margin: 0;
    font-size: 22px;
}

.subjudul{
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.637);
    margin-top: 10px;
    margin-bottom: 20px;
}

.tombol a{
    text-decoration: none;
    color: white;
    background-color: rgba(200, 214, 230, 0.137);
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 16px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 200px;
    transition: all 0.3s;
}

.Logo{
    width: 100px;
    height: auto;
    border-radius: 50%;
    margin-bottom: 20px;
    background: rgb(41, 135, 223);
}

.isi{
    margin: 5,0;
    font-size: 12px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.637);
    margin-top: 2px;
}

.tombol a:hover{
    background-color: rgba(200, 214, 230, 0.274);
    transform: scale(1.05);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}
